@charset "utf-8";
/* CSS Document */
body{
	background-image: url(../images/Background.jpg);
}
header{
	background-color: #ffd338;
	font-family: 'Dosis', sans-serif;
}
.green h3{
	color:#56d47e;
}
.red h3{
	color:#f05c5c;
}
.yellow h3{
	color:#ffd338;
}
.menu ul li a{
	color: #FFFFFF;
	font-weight: 700;
	font-size: 18px;
	color: white !important;
	padding: 4px 20px !important;
	border-radius: 20px;
}
.menu ul li a:hover{
	background-color: #f05c5c;
	transition: 0.6s;
}
.mobile_nav{
	background-color: #f05c5c;
	border-radius: 8px;
	opacity: 0.8;
	
}
.icon_btn{
	color: #FFFFFF;
	margin-left: 7px;
}
.icon_btn:hover{
	color: #f05c5c;
	transition: 0.6s;
}
.search {
	
    right: 0 !important;
    min-width: 300px;
    padding: 10px 5px 10px;
    margin: 1px 1px;
    font-size: 1rem;
	background-color: #ffd338;
	border: 0px solid;
}
.search_btn{
	padding: 5px 15px;
	margin-left: 10px;
	background-color: #f05c5c;
	border: 0px solid ;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700px;
}
.search_btn:hover{
	border-radius: 20px;
}
.search_text{
	width: 200px;
	padding: 5px 10px;
	border-radius: 20px;
	border: 0px solid;
}
.banner{
	background-image: url(../images/Banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #1ec0ff;
	padding: 350px 0 580px;
}
.banner h1{
	font-size: 42px;
	font-weight: 700;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 1px;
	white-space: 2px;
}
.kids_education{
	padding: 40px 0px 100px;
	font-family: 'Dosis', sans-serif;
}
.education_btn{
	background-color: transparent;
	background-image: url(../images/btn.png);
	border: 0px solid;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 21px 55px;
	color: #f05c5c;
	font-weight: 700;
}
.kids_education_heading h1{
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	word-spacing: 2px;
	letter-spacing: 1px;
	padding-bottom: 15px;
}
.kids_education_content h2{
	font-weight: 700;
	margin-bottom: 20px;
}
.kids_education_content p{
	padding-bottom: 15px;
}
.kids_education_pic img{
	border-radius: 20px;
}
hr {
	border: 0px;
	border-bottom: 6px dashed #FFFFFF;
	width: 340px;
	margin-bottom: 70px;
	
}
.mini_hr hr{
	border: 0px;
	border-bottom: 4px dashed #000000;
	width: 170px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.activities{
	background-image: url(../images/Background2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	font-family: 'Dosis', sans-serif;
	padding-bottom: 100px;
}
.activities_heading h1{
	text-align: center;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-size: 42px;
}
.activities_discription {
	word-spacing: 1px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
}
.activities_discription-pic{
	text-align: center;
	margin-bottom: 10px;
	
}
.activities_discription-pic img{
	border-radius: 50%;
	border: 5px solid #eb751d;
}
.courses{
	padding: 100px 0px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}
.courses_heading h1{
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 1px;
}
.courses_card{
	padding: 0px;

}
.card_singel{
	border: 0px solid #FFFFFF;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px 0px 20px -7px ;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 15px;
}
.card_top{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #1ec0ff;
	
}
.card_top1{
	background-color: #56d47e;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.card_top2{
	background-color: #f05c5c;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.card_top3{
	background-color: #ffd338;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.card_top p{
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
	color: #FFFFFF;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 3px;	
}
.card_top1 p{
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
	color: #FFFFFF;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 3px;	
}
.card_top2 p{
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
	color: #FFFFFF;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 3px;	
}
.card_top3 p{
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
	color: #FFFFFF;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 3px;	
}
.card_component p{
	margin-bottom: 10px;
}
.card_hr hr{
	border: 0px solid #FFFFF;
	border-bottom: 2px solid #CDCDCD;
	width:auto;
	margin-bottom: 50px;
	margin-left: 0px;
}
.card_info{
	border-top: 2px solid #E0E0E0;
	padding-top: 4px;
		
}
.card_info li{
	border-right:  2px solid #E0E0E0;
	padding-right: 10px;
}
.card_info li:last-child{
	border-right: 0px solid;
	padding-right: 0px;
}
.courses_btn {
	margin-top: 55px;
}
.c_btn{
	text-align: center;
	border: 0px solid;
	color: #FFFFFF;
	background-color: #56d47e;
	padding: 10px 320px;
	font-size: 23px;
	border-radius: 20px;
	
}
.memory{
	background-image:url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0px;
	font-family: 'Dosis', sans-serif;
}
.memory_heading h1{
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 1px;
}
.memory_pic{
	margin-top: 30px;
}
.memory_pic img{
	border-radius: 20px;
	
}
.memory_button{
	margin-top: 70px;
}
.memory_btn {
	border: 0px solid #FFFFFF;
	background-image: url(../images/btn.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
	padding: 16px 40px;
	color:#f05c5c;
	font-weight: 700;
}
.twitter{
	padding: 100px 0px 50px;
	text-align: center;
	
}
.twitter h1{
	font-size: 50px;
	color:  #1ec0ff;
}
.twitter_content p{
	color: #1ec0ff;
	margin-bottom: 35px;
}
.twitter_content p:nth-child(3){
	color: #000000;
}
.teacher {
	padding: 50px 0px 100px 0px;
	font-family: 'Dosis', sans-serif;
}
.teacher-heading h1{
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 1px;
}
.teacher_info{
	margin-top: 40px;
}
.teacher_pic img{
	box-shadow: 0px 0px 20px -10px ;
	border-radius: 20px;
}
.teacher_full_info h3{
	font-weight: 700;
	color:  #1ec0ff;
}
.top_border{
	border-top: 3px solid #E3E3E3;
	padding-top: 10px;
}
.teacher_full_info ul li{
	padding: 5px 8px;
	font-size: 19px;
}
.teacher_full_info ul li a{
	color:  #1ec0ff;
}
.teacher_full_info1 h3{
	font-weight: 700;
	color:#56d47e;
}
.teacher_full_info1 ul li{
	padding: 5px 8px;
	font-size: 19px;
}
.teacher_full_info1 ul li a{
	color:#56d47e;
}
.teacher_full_info2 h3{
	font-weight: 700;
	color:#f05c5c;
}
.teacher_full_info2 ul li{
	padding: 5px 8px;
	font-size: 19px;
}
.teacher_full_info2 ul li a{
	color:#f05c5c;
}
.teacher_full_info3 h3{
	font-weight: 700;
	color:#ffd338;
}
.teacher_full_info3 ul li{
	padding: 5px 8px;
	font-size: 19px;
}
.teacher_full_info3 ul li a{
	color:#ffd338;
}
.counter{
	padding: 100px 0px 120px;
	font-family: 'Dosis', sans-serif;
	background-image: url(../images/background4.jpg);
	background-attachment: fixed;
	background-position: center;

}
.counter_heading h1{
	text-align: center;
	font-size: 42px;
	font-weight: 700;
	color: #56d47e;
}
.num_singel{
	text-align: center;
	padding-top: 30px;
	color: #FFFFFF;
}
.num{
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 4px;
}
.num h1{
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 4px;
}
.num_singel img{
	margin-top: -40px;
}
.num_singel h2{
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 25px;
	padding-top: 0px;
}
.event{
	padding: 100px 0px 10px;
	font-family: 'Dosis', sans-serif;
}
.event_heading1 h1{
	font-weight: 500;
	font-size: 42px;
	
}
.event_heading1 hr{
	width: 270px;
	margin-left: 0px;
}
.event_heading2 h1{
	font-weight: 500;
	font-size: 42px;
	
}
.event_heading2 hr{
	width: 270px;
	margin-left: 0px;
}
.event_timeline_singel{
	padding-top: 40px;
}
.event_timeline_time{
	background-color:  #1ec0ff;
	color: #FFFFFF;
	text-align: center;
	border-radius: 50%;
	padding: 0px 2px;
	margin-bottom: 40px;
}
.event_timeline_time1{
	background-color:   #56d47e;
	color: #FFFFFF;
	text-align: center;
	border-radius: 50%;
	padding: 0px 2px;
	margin-bottom: 40px;
}
.event_timeline_time1 h1{
	letter-spacing: 2px;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 0px;
	padding-top: 15px;
	
}
.event_timeline_time2{
	background-color: #ffd338;
	color: #FFFFFF;
	text-align: center;
	border-radius: 50%;
	padding: 0px 2px;
	margin-bottom: 40px;
}
.event_timeline_time2 h1{
	letter-spacing: 2px;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 0px;
	padding-top: 15px;
	
}
.event_timeline_time3{
	background-color:  #f05c5c;
	color: #FFFFFF;
	text-align: center;
	border-radius: 50%;
	padding: 0px 2px;
	margin-bottom: 40px;
}
.event_timeline_time3 h1{
	letter-spacing: 2px;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 0px;
	padding-top: 15px;
	
}
.event_timeline_time h1{
	letter-spacing: 2px;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 0px;
	padding-top: 15px;
	
}
.event_timeline_time p{
	margin-top: 0px;
}
.event_timeline_info h3{
	padding-top: 20px;
	font-weight: 700;
}
.event_timeline_info p a{
	padding: 0px 7px 0px  ;
	color:  #1ec0ff;
	font-weight: 700;
	letter-spacing: 1px;
}
.event_recent_news{
	margin-top: 30px;
}
.event_recent_news_img{
	margin-bottom: 50px;
}
.event_recent_news_img img{
	border-radius: 20px;
}
.event_recent_news_info{
	margin-bottom: 50px;
}
.event_recent_news_info h4{
	padding-bottom:  10px;
	font-weight: 700;
	border-bottom: 5px dotted  #1ec0ff;
}
.contect{
	font-family: 'Dosis', sans-serif;
	padding: 350px 0px 100px;
	background-image: url(../images/footerbg.png);
	background-size: cover;
	background-repeat: no-repeat;
	
}
.contect_logo img{
	margin-bottom: 10px;
}
.contect_logo p{
	margin-top: 5px;
}
.insta h1{
	color:#ffd338;
	font-weight: 700;
	font-size: 28px;
	border-bottom: 4px dotted  #ffd338;
	padding-bottom: 10px;
}
.insta img{
	margin-top: 30px;
}
.contect_us h1{
	color: #56d47e;
	font-weight: 700;
	font-size: 28px;
	border-bottom: 4px dotted   #56d47e;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.contect_us p i{
	margin-left: 10px;
	margin-right: 5px;
}
.newsletter h1{
	color:  #f05c5c;
	font-weight: 700;
	font-size: 28px;
	border-bottom: 4px dotted  #f05c5c;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.link_icon{
	margin-top: 20px;
	font-weight: 700;
}
.link_icon ul li{
	margin-left: 10px;
}
.link_icon ul li a{
	color: #f05c5c;
}
footer{
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	text-align: center;
	padding: 30px 0;
	background-color:#ffd338;
	color: #FFFFFF;
}
.footer_nab ul li a{
	color: #FFFFFF;
}
